.sudoku-table {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(9, 55px);
  grid-template-rows: repeat(9, 55px);
  justify-content: center;
}

@media (max-width: 480px) {
  .sudoku-table {
    grid-template-columns: repeat(9, 28px);
    grid-template-rows: repeat(9, 28px);
  }

  .sudoku-table .cell {
    width: 28px;
    height: 28px;
    font-size: 1rem;
  }
}
