@if (!config.loading) {
<div class="sudoku-table">
  @for (row of config.board; let rowIndex = $index; track rowIndex) {
    @for (cell of row; let colIndex = $index; track colIndex) {
      <app-sudoku-cell
        [value]="cell === 0 ? '' : cell"
        [fixed]="config.fixedMask[rowIndex][colIndex]"
        [col]="'col-' + (colIndex)"
        [row]="'row-' + (rowIndex)"
        [disabled]="config.fixedMask[rowIndex][colIndex] || config.loading || config.disabled"
        [selected]="config.selection?.row === rowIndex && config.selection?.col === colIndex"
        (cellInput)="onCellInput($event, rowIndex, colIndex)"
        (cellClear)="onCellClear(rowIndex, colIndex)"
        (cellSelect)="onCellSelect(rowIndex, colIndex)"
        (cellBlur)="onCellBlur()"
      ></app-sudoku-cell>
    }
  }
</div>
}
