.sudoku-table {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(9, 55px);
  grid-template-rows: repeat(9, 55px);
  justify-content: center;

  .cell {
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #999999;
    outline: none;

    &:nth-child(9n + 1) {  // First column
      border-left: 3px solid #444;
    }
    &:nth-child(9n) {  // Last column
      border-right: 3px solid #444;
    }
    &:nth-child(-n + 9) {  // First row
      border-top: 3px solid #444;
    }
    &:nth-child(n + 73) {  // Last row
      border-bottom: 3px solid #444;
    }

    // Inner thick borders
    &:nth-child(3n + 3):not(:nth-child(9n)) {  // Third and sixth columns
      border-right: 2px solid #444;
    }
    &:nth-child(n + 19):nth-child(-n + 27),  // Third row
    &:nth-child(n + 46):nth-child(-n + 54) { // Sixth row
      border-bottom: 2px solid #444;
    }

    &.fixed {
      background-color: #d8d8d8;
      font-weight: bold;
      cursor: not-allowed;
      color: #303030;
    }

    &.selected {
      background-color: #e8e8e8;
    }
  }
}

@media (max-width: 480px) {
  .sudoku-table {
    grid-template-columns: repeat(9, 28px);
    grid-template-rows: repeat(9, 28px);
  }

  .sudoku-table .cell {
    width: 28px;
    height: 28px;
    font-size: 1rem;
  }
}
