$blue-color: #3f51b5;

.actions {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  background-color: $blue-color;
  border-radius: 15px;
  box-shadow: 0 3px 1px -2px #0003,0 2px 2px #00000024,0 1px 5px #0000001f;
  padding: 8px 15px;
  margin: 2rem auto 0;
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-btns {
    display: none;
    position: absolute;
    min-width: 100%;
    z-index: 1;
    background-color: $blue-color;
    box-shadow: 0 2px 5px #00000033;
  }

  &:hover .dropdown-btns {
    display: flex;
    flex-direction: column;
  }

  .level-btn {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: none;
    text-align: center;
  }
}

.statuses-text {
  display: flex;
  justify-content: center;
  margin: 2rem;
  text-transform: capitalize;
}

@media (max-width: 876px) {
  .actions {
    flex-direction: column;
  }

  .sudoku-table .cell {
    width: 28px;
    height: 28px;
    font-size: 1rem;
  }
}

